*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body .myimg{
width: 120px;
}

body .countdown-timer-container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../img/bg.png);
    background-position: center;
    background-size:auto;
}
.countdown-timer-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}
.countdown-timer-container div{
    width: 25%;
    text-align: center;
    font-size: 30px;
    color:darkcyan;

}
.countdown-timer-values{
    font-size: 80px !important;

}